@import "tailwindcss";

#hero {
  background-image: url("/fixbs-bg.png");
  background-size: cover;
}
/* Custom thin scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}